#LogoText {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 40px;
    color: #00ccff;
}

.navbar-toggler-icon {
    background-image: url("assets/icons/menu.svg");
}

.body{
    align-self: center;
    margin: 40px;
}

#about-us{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#image-logo{
    height: 50px;
    width: 10px;
}