.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#LogoText {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 35px;
	color: #00ccff;
}

.carousel-item .lead{
    background: black;
}
